* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}

footer {
	justify-content: center;
}

header {
	justify-content: space-between;
}

header,
footer {
	align-items: center;
	background: black;
	display: flex;
	height: 10vh;
	width: 100%;
}

header button {
	background: red;
	border: none;
	border-radius: 0.75rem;
	color: white;
	font-size: 1.5rem;
	margin: 10%;
	padding: 1rem 2rem;
	white-space: nowrap;
}

hr {
	border-top: 0.25rem solid black;
}

span {
	font-family: "Cinzel", serif;
}

.card {
	background: red;
	border-radius: 1rem;
	color: white;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 2rem;
}

.card h1 {
	margin: 1rem;
}

.card img {
	border-radius: 1rem;
	margin: 0 1rem;
	max-width: calc(100% - 2rem);
}

.card p {
	font-size: 2rem;
	margin: 1rem;
}

.logo {
	align-items: center;
	display: flex;
	height: 40px;
	margin: 10%;
}

.logo h3 {
	color: white;
	font-size: 3rem;
	margin: 5px;
}

.logo img {
	height: 100%;
}

#card-container {
	display: flex;
	justify-content: space-around;
	height: 65vh;
}

#hero-container {
	display: flex;
	justify-content: center;
	width: 100vw;
}

#hero-content-container {
	align-items: center;
	height: 90vh;
	display: flex;
	justify-content: center;
	width: 80vw;
}

#hero-content-container img {
	height: 75vh;
}

#hero-content-container h1 {
	font-size: 3rem;
	margin: 2.5rem;
	width: 20vw;
}

#transition {
	margin: 3rem;
	font-size: 3rem;
}

@media all and (max-width: 1280px) {
	h3 {
		font-size: 1.5rem;
	}

	#hero-content-container h1 {
		font-size: 2rem;
	}

	#hero-content-container img {
		height: 50vh;
	}
}

@media all and (max-width: 768px) {
	header {
		justify-content: space-around;
	}

	header button {
		font-size: 1rem;
		margin: 5%;
	}

	footer h3 {
		font-size: 1rem;
	}

	.card {
		flex: 0;
	}

	.card p {
		font-size: 1.25rem;
	}

	.logo {
		margin: 5%;
	}

	.logo h3 {
		font-size: 1.5rem;
	}

	#card-container {
		flex-direction: column;
		height: 150vh;
		justify-content: space-around;
	}

	#hero-content-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	#hero-content-container h1 {
		order: 3;
		width: 80vw;
	}

	#hero-content-container img {
		height: 30vh;
	}
}
