@media all and (min-width: 1100px) {
	.page-container {
		width: 70%;
	}

	#about a {
		height: 20vw;
		width: 20vw;
	}

	#academics-page {
		width: 50%;
	}
}

@media all and (min-width: 769px) and (max-width: 1099px) {
	#academics-page {
		font-size: 4rem;
	}
}

@media all and (max-width: 768px) {
	#academics-page h1 {
		font-size: 3rem;
	}
}
