.button-container {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.button-container a {
	text-decoration: none !important;
}

.button-container p {
	background-color: red;
	border-radius: 1rem;
	font-size: 1.25rem;
	padding: 0.75rem;
	transition: box-shadow 0.25s;
}

#illustrations {
	display: flex;
	height: 100%;
}

#illustrations img {
	transition: width 0.5s;
}

#mockups-container {
	display: flex;
	gap: 1rem;
}

#mockups-container div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#mockups-container img {
	width: 100%;
	transition: box-shadow 0.25s;
}

@media (hover: hover) {
	.button-container p:hover {
		box-shadow: 0 0 0.5rem white;
	}

	#illustrations img:hover {
		width: 100%;
	}

	#mockups-container img:hover {
		box-shadow: 0 0 0.75rem white;
	}
}

@media all and (max-width: 768px) {
	.button-container {
		flex-direction: column;
		gap: 1rem;
	}

	#illustrations {
		flex-direction: column;
		height: auto;
		gap: 1rem;
	}

	#mockups-container {
		flex-direction: column;
	}

	#projects-page h1 {
		font-size: 3rem;
	}
}
