* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: relative;
}

footer {
	justify-content: center;
	margin-top: 5rem;
}

h1 {
	font-size: 2.5rem;
	font-weight: 500;
}

header {
	justify-content: space-between;
	position: fixed;
}

header,
footer {
	align-items: center;
	background: rgb(0, 176, 80);
	display: flex;
	height: 75px;
	width: 100%;
	z-index: 10;
}

header button {
	background: white;
	border: none;
	border-radius: 0.75rem;
	color: rgb(0, 176, 80);
	font-size: 1rem;
	font-weight: 600;
	margin: 10%;
	padding: 1rem 2rem;
	white-space: nowrap;
}

iframe {
	border: none;
	margin: 0 10%;
}

.logo {
	align-items: center;
	display: flex;
	height: 40px;
	margin: 10%;
}

.logo h3 {
	color: white;
	font-size: 2rem;
	margin: 5px;
}

.logo img {
	height: 100%;
}

.text {
	background: rgb(0, 176, 80);
	border-radius: 1rem;
	box-shadow: 0 0 50px 25px #00d96e;
	color: white;
	padding: 3rem;
	width: 80%;
}

.text h1 {
	margin-bottom: 2rem;
}

.text-and-image-container,
#hero-container {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 50vh;
	margin-bottom: 10vh;
	top: 75px;
	width: 100%;
}

.text-and-image-container img,
#hero-container img {
	height: 100%;
	object-fit: cover;
	max-width: 40%;
}

.text-container {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 40%;
}

#about {
	background: rgb(0, 176, 80);
	color: white;
	padding: 2rem;
	text-align: center;
}

#about h1 {
	margin-bottom: 1rem;
}

#about h1,
#about h2 {
	margin: auto;
	width: 80%;
}

#hero-container {
	height: calc(100vh - 75px);
}

#hero-container h1 {
	font-size: 4rem;
}

#transition {
	padding: 5rem 0 5rem 0;
	text-align: center;
	width: 100%;
}

@media all and (max-width: 1280px) {
	.text-container {
		width: 50%;
	}

	#hero-container img {
		max-width: none;
		width: 50%;
	}
}

@media all and (max-width: 768px) {
	* {
		font-weight: 400;
	}

	h1 {
		font-size: 2rem !important;
	}

	h2 {
		font-size: 1rem;
	}

	header button {
		margin: 5%;
	}

	.logo {
		margin: 5%;
	}

	.text {
		padding: 1rem;
	}

	.text-and-image-container {
		flex-direction: column;
		height: 100vh;
	}

	.text-and-image-container img {
		object-fit: contain;
	}

	.text-and-image-container img,
	#hero-container img {
		max-height: 50vh;
		max-width: none;
		width: 100%;
	}

	.text-container {
		height: 50vh;
		width: 100%;
	}

	#hero-container,
	#step-1,
	#step-3 {
		flex-direction: column-reverse;
	}

	#transition {
		margin: auto;
		width: 80%;
	}
}
