* {
	box-sizing: border-box;
	color: white;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	font-size: 16px;
}

nav {
	align-items: center;
	background-color: black;
	border-bottom: 5px solid red;
	box-shadow: 0 5px 5px 0 rgba(76, 82, 103, 100%);
	display: flex;
	height: 50px;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 100;
}

nav ul a {
	transition: color 0.25s;
}

nav ul a:hover {
	color: red;
}

nav li {
	display: inline;
	margin-left: 5rem;
	margin-right: 5rem;
}

#banner {
	border-bottom: 10px solid black;
	filter: blur(2px);
	height: calc(100vh - 50px);
	object-fit: cover;
	overflow: hidden;
	position: relative;
	top: 50px;
	width: 100%;
}

#icons {
	align-items: center;
	display: flex;
	height: 50px;
}

#icons i {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	transition: color 0.25s;
}

#icons i:hover {
	color: red;
}

#landing {
	align-items: center;
	display: flex;
	height: calc(100vh - 50px);
	justify-content: space-around;
	position: absolute;
	top: 50px;
}

#landing #headshot {
	border: 5px solid black;
	border-radius: 50%;
	width: 25%;
	height: auto;
	transition: width 0.25s;
	z-index: 10;
}

#landing #headshot:hover {
	width: 30%;
}

#landing #text {
	background-color: rgba(255, 0, 0, 0.5);
	padding: 3rem;
	width: 60%;
}

#landing #text h1 {
	font-size: 8rem;
	font-style: italic;
	font-weight: 700;
	text-shadow: 0.75rem 0.75rem black;
	z-index: 10;
}

#landing #text hr {
	background-color: white;
	height: 0.5rem;
}

#links {
	align-items: center;
	display: flex;
	height: 50px;
}

#links ul {
	align-items: center;
	display: flex;
	height: 50px;
}

#logo {
	align-items: center;
	display: flex;
}

#logo h3 {
	font-weight: 700;
	font-size: 2rem;
	font-style: italic;
	margin-left: 0.5rem;
	transition: text-shadow 0.25s;
}

#logo h3:hover {
	text-shadow: 0 0 0.2rem white;
}

#logo img {
	height: 50px;
	width: 50px;
	z-index: 100;
}

.fa-angle-down {
	animation-iteration-count: infinite;
	animation-name: arrow_hover;
	animation-duration: 2s;
	color: white;
	display: block;
	margin-left: calc(50% - 25px);
	margin-right: calc(50% - 25px);
	position: absolute;
	top: 900px;
}

@keyframes arrow_hover {
	0% {
		top: 85%;
	}
	50% {
		top: 90%;
	}
	100% {
		top: 85%;
	}
}

@media all and (max-width: 768px) {
	nav {
		height: 125px;
	}

	nav li {
		margin-left: 0;
		margin-right: 0;
	}

	nav ul a {
		font-size: 1.5rem;
	}

	#banner {
		top: 125px;
		height: calc(100vh - 125px);
	}

	#icons {
		flex-direction: column;
		justify-content: center;
	}

	#landing {
		flex-direction: column;
		height: calc(100vh - 125px);
		justify-content: space-evenly;
		top: 125px;
	}

	#landing #headshot {
		width: 40%;
	}

	#landing #text {
		width: 100%;
	}

	#landing #text h1 {
		font-size: 5rem;
	}

	#links ul {
		flex-direction: column;
	}
}
